body {
    background-color: rgba(219, 157, 214, 0.726);
    font-family: 'Prata', serif;
}

/* h1 {
    color: #cd3266;
    text-align: center;
} */

#title {
    color: rgb(199, 23, 135);
    text-align: center;
}

/* p {
    color: maroon;
    background-color: mediumaquamarine;
} */

.p-large {
    font-size: 32px;
}

.p-purple{
    color: rgb(95, 72, 223);
    background-color: rgb(192, 84, 178);
}

.p-blue {
    color: rgb(192, 84, 178);
    background-color: rgb(95, 72, 223);
}

